@use "sass" as *;

.nonsense-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  &__last,
  &__new {
    grid-column: span 2;
    display: flex;
    flex-direction: column;

    &-label {
      width: fit-content;
      padding: 0.5em 1em;
      border-radius: 1em 1em 0 0;

      background: $clr-primary-400;

      @include font-nunito(1rem, 700);
      color: $clr-primary-900;
    }

    &-text {
      border: none;
      border-radius: 0 0.5em 0.5em 0.5em;
      outline: none;

      background: $clr-primary-300;

      @include font-source-code-pro(2rem, 700);
      text-align: center;
      text-transform: uppercase;
      color: $clr-primary-900;
    }
  }

  &__new {
    align-items: flex-end;

    &-text {
      border-radius: 0.5em 0 0.5em 0.5em;
    }
  }

  &__next,
  &__nope {
    margin: 1em 0 0 0;

    text-align: center;

    &-button {
      width: 75%;
      padding: 0.25em 0.5em;
      border: none;
      border-radius: 0.5em;

      background: $clr-primary-400;

      @include font-rubik(1.5rem, 700);
      color: $clr-primary-900;
      letter-spacing: 0.125ch;
    }
  }

  &__next {
    grid-column: span 2;

    &-button {
      background: $clr-blue-100;
      outline-color: $clr-blue-700;
      color: $clr-blue-700;
    }

    &--update {
      grid-column: span 1;
    }
  }

  &__nope {
    display: none;

    &-button {
      background: $clr-red-100;
      outline-color: $clr-red-700;
      color: $clr-red-700;
    }

    &--update {
      display: block;
    }
  }
}
