@use "sass" as *;

.nonsense {
  max-width: 90vw;
  padding: 2em;
  border: 1px solid $clr-primary-700;
  border-radius: 1em;

  background: rgba($clr-primary-100, 0.5);
  backdrop-filter: blur(16px) saturate(2);
  @include mix-card-shadow;

  &__heading {
    margin: 0 0 0.25em 0;

    @include font-permanent-marker(4.5rem, 400);

    @media (max-width: 576px) {
      @include font-permanent-marker(4rem, 400);
    }

    text-align: center;
    color: $clr-primary-900;
    line-height: 1em;
  }
}
