@use "sass" as *;

.nonsense-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  &__last,
  &__new {
    grid-column: span 2;
    display: flex;
    flex-direction: column;

    &-label {
      width: fit-content;
      padding: 0.5em 1em;
      border-radius: 1em 1em 0 0;

      background: rgba($clr-primary-900, 0.75);

      @include font-nunito(1rem, 700);
      color: $clr-primary-100;
    }

    &-text {
      width: 90%;

      border: none;
      border-radius: 0 0.5em 0.5em 0.5em;
      outline: none;

      background: rgba($clr-primary-900, 0.625);

      @include font-source-code-pro(2rem, 700);
      text-align: center;
      text-transform: uppercase;
      color: $clr-primary-100;

      &::placeholder {
        color: $clr-primary-100;
        opacity: 0.5;
      }
    }
  }

  &__new {
    align-items: flex-end;

    &-text {
      border-radius: 0.5em 0 0.5em 0.5em;
    }
  }

  &__next,
  &__nope {
    margin: 1em 0 0 0;

    text-align: center;

    &-button {
      width: 75%;
      padding: 0.25em 0.5em;
      border: none;
      border-radius: 0.5em;

      @include font-rubik(1.5rem, 700);
      letter-spacing: 0.125ch;

      cursor: pointer;
      transition: background-color 100ms ease-out, color 200ms ease-out,
        outline-width 200ms ease;

      &:focus {
        outline: 0.125em solid $clr-primary-100;
      }

      &:hover {
        color: $clr-primary-100;
      }
    }
  }

  &__next {
    grid-column: span 2;

    &-button {
      background: $clr-blue-400;
      outline-color: $clr-blue-100;
      color: $clr-blue-100;

      &:active {
        background: $clr-blue-700;
      }
    }

    &--update {
      grid-column: span 1;
    }
  }

  &__nope {
    display: none;

    &-button {
      background: $clr-red-400;
      outline-color: $clr-red-100;
      color: $clr-red-100;

      &:active {
        background: $clr-red-700;
      }
    }

    &--update {
      display: block;
    }
  }
}
