@use "sass" as *;

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: no-repeat center / cover url("images/background.jpg"),
    $grad-primary fixed;
}
